# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# testing
/coverage

frontend/node_modules

# Quasar core related directories
frontend/.quasar
frontend/dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/